
.videoContainer{
    width: 100%;
    padding: 10px;
    background-color: #fff;
}

.embed{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.coletTitle, .coletSubtitulo, .listaResumoContainer, .investimento{
    margin: 0 auto;
    padding: 1.5rem;
    padding-bottom: 0px;
    padding-top: 0px;
}

.coletSubtitulo p, .listaResumoContainer p, .investimento p{
    text-align: justify;
}

.listaResumoContainer{
    position:relative;
  background:#ffa;
  overflow:hidden;
  margin:30px auto;
  padding:20px;
  border-radius:0 0 0 30px/45px;
  box-shadow:
    inset 0 -40px 40px rgba(0,0,0,0.2),
    inset 0 25px 10px rgba(0,0,0,0.2),
    0 5px 6px 5px rgba(0,0,0,0.2);
  /* font-family: 'Permanent Marker', cursive; */
  line-height:1.7em;
  font-size:19px;
}

.listaResumoContainer:before{
    content:"";
  display:block;
  position:absolute;
  width:20px;
  height:25px;
  background:#ffa;
  box-shadow:
    3px -2px 10px rgba(0,0,0,0.2),
    inset 15px -15px 15px rgba(0,0,0,0.3);
  left:0;
  bottom:0;
  z-index:2;
  transform:skewX(25deg);
}

.listaResumoContainer:after{
    content:"";
  display:block;
  position:absolute;
  width:75%;
  height:20px; 
  border-top:3px solid #130d6b;
  border-radius: 50% ;
  bottom:0px;
  left:10%;
}
    

.listaResumo li{
    margin-top: 10px;
}

.shadowBox{
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);
    border-radius: 8px;
    padding: 1rem;
}

.coletImage img{
    width: 100%;
    max-width: 578px;
    /* border: solid black 1px; */
}

.coletSpan{
    color: green;
}


#carouselExampleFade{
display: none;
}


@media (min-width:800px){
    .videoContainer{
        width: 80%;
    }

    #carouselExampleFade{
        display: block;
    }

    #carouselExampleFade2{
        display: none;
    }
}

/* Temporario */

.h1ColetTemp{
    font-family:'Oswald', sans-serif;
}

.h1ColetTemp a {
    color: #cd1012;
}

.divImg{
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.divImg img{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 291px;
}

