@use "../abstracts/" as *;
.PainelContainer {
    width: 100%;
    padding: 0px;
    
    font-size: 1.6rem;

    h1 {
        padding-top: 3px;
    }
}

.yellow {
    background-color: $primary-yellow;
}

.blue {
    background-color: $primary-blue;
    color: $white;
}