@use '../../abstracts/' as *;


.IsrcButtonContainer {
    @include flex-around-row;
    width:100%;
    gap: 10px;

    button {
        width: 50%;
    }
}

.IsrcFormContainer {
    @include flex-center-column;
    width: 100%;
    padding-bottom:1rem;

    section {
        @include flex-center-column;
        width: 100%;
        max-width: 800px;
    }
}


.Taxas {
    @include flex-around-row;

    width:100%;
    font-size: clamp(.8rem, 3.5vw, 1.4rem);
    
    section {
        margin-left: 0px;
        @include flex-around-row;

        a {
            text-decoration: none !important;
            outline:none;  
            border: none;
            background-color: transparent;
            color: $secondary-blue;

            &:after {
                content: "|";
                margin-left: 10px;
                margin-right: 10px;
                color: $dark-gray;
            }   
        }

        button {
            text-decoration: none;
            outline:none;  
            border: none;
            background-color: transparent;
            color: $secondary-blue;
            padding-left: 0px;

            &:hover {
            color: $hover-blue;
            cursor: pointer;
            }
        }
    }
}

.associate{
    h5 {
        color: $primary-red;
    }

    label {
        color: $secondary-blue;
    }
}

