

$primary-blue: #5281b1;

$secondary-blue:#02599a;
$hover-blue:#0444ac;

$primary-gray: #e4e4e4;
$secondary-gray:#f7f7f7;
$terciary-gray:#e6e6e6;
$dark-gray: #444;
 
$primary-green:#11411a99;
$hover-green:#11421b99;

$primary-red:#cd1012;

$primary-yellow:#f5f563;

$white:white;


