@mixin flex-center-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-start-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-start-column {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

@mixin flex-between-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-around-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-start-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


@mixin footer {
    @include flex-center-column;
		gap:.5rem;
		padding: 5px;
		width: 100%;
}

@mixin minHeight {
    @include flex-center-column;
    min-height: calc(100vh - 330px);
}
